Server/styledecor-45ebb-firebase-adminsdk-fbsvc-2cb7ac5bb5.json
Server/node_modules
.env
*.json
!package.json
node_modules/

!package-lock.json
.vercel
styledecor-45ebb-firebase-adminsdk-fbsvc-2cb7ac5bb5.json